/* Styles for main customizer sidebar */
#customize-controls {
	min-width: 315px;
	width: 20%;
}
.customize-title-span {
	font-size: 12px;
	font-weight: bold;
}
.customize-section-content select {
	min-width: 0px !important;
}
.customize-section-content .of-typography-size {
    width: 65px;
    margin-left: 5px;
    float: left; 
}
.customize-section-content .of-typography-face {
    width: 85px;
    margin-left: 5px;
    float: left; 
}
.customize-section-content .of-typography-style {
    width: 75px;
    margin-left: 5px;
    margin-right: 5px;
    float: left; 
}
.customize-section-content .of-color {
    clear: both;
    width: 65px !important;
    margin: 2px 0px 0px 3px !important	; 
}

.custom-control {
	margin-bottom: 21px;
}
.custom-control span {
	display: block;
}
.custom-control select {
	margin: 9px 0px 0px 9px;
}

/* Integration sidebar control */
#pls_integration_form select {
	width: 275px;
}
#customize_integration_submit {
	margin-top: 25px;
	float: right;
}
#pls_integration_form h3.invalid {
	color: red !important;
}
#pls_integration_form input.invalid {
	border: 1px solid red !important;
}

/* Cleaning up jqueryUI's styles */
.ui-widget-header {
	border: none !important;
	background: none !important;
}
.ui-dialog-content {
	padding-top: 0px !important;
}
.ui-dialog-title h2 {
	margin: 5px 0 !important;
}
.ui-widget-overlay {
	opacity: 0.1 !important;
	-moz-opacity: 0.1 !important;
	filter:alpha(opacity=0.1);
}

/* Preview load indicator */
/*.preview-load-indicator {*/
#customize-preview { 
   /* IE filter */
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
   -moz-opacity:0.3;    /* Mozilla extension */
   -khtml-opacity:0.3;  /* Safari/Conqueror extension */
   opacity:0.3; /* CSS3 */
   background-color: lightgrey;
}
#preview_load_spinner {
   /*display: none;*/
   top: 42%;
   left: 55%;
   position: fixed;
   z-index: 550000;
}

/* Global modal styling */
.ui-dialog .ui-dialog-titlebar h3 {
	font-size: 22px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 0px 0px;
	margin: 10px 0;
}
.ui-dialog .ui-dialog-content p.message {
	background-color: #FFFBCC;
	border:1px solid #E6DB55;
	color: #555;
	line-height: 19px;
	padding: 5px 0;
	text-align: center;
	font-size: 12px;
	margin: 3px 0px;
}
.ui-dialog .ui-dialog-content p {
	line-height: 17px;
	font-size: 13px;
	margin: 15px 0px;
}

.ui-dialog .ui-dialog-content a {
	text-decoration: none;
	color: #21759B;
}
.ui-dialog .ui-dialog-content a:hover {
	color: #D54E21;
}
.ui-dialog .ui-dialog-content p.large_green_button {
	text-align: center;
	font-weight: 600;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	background: #86B229;
	background: -moz-linear-gradient(top, #A0CC42 0%, #86B229 50%, #6E9910);
	background: -webkit-gradient(linear, left top, left bottom, from(#A0CC42), color-stop(0.5, #86B229), to(#6E9910));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #6F961C;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
	font-size: 17px !important;

}
.ui-dialog .ui-dialog-content p.large_green_button span {
	display: block;
	font-size: 11px;
	font-weight: normal;
}

.ui-dialog .ui-dialog-content .red {
	color: red;
	font-weight: bold;
}
.ui-dialog .ui-dialog-content .green {
	color: green;
	font-weight: bold;
}

.ui-dialog .ui-dialog-buttonpane button {
	padding: 10px 20px;
	float: left;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	width: 100%;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:last-child {
	float: right;
	text-align: center;
	min-width: 150px;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	background: #86B229;
	background: -moz-linear-gradient(top, #A0CC42 0%, #86B229 50%, #6E9910);
	background: -webkit-gradient(linear, left top, left bottom, from(#A0CC42), color-stop(0.5, #86B229), to(#6E9910));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #6F961C;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
}