.left {
  float: left; }

/*headers on specific pages */
.header-wrapper {
  float: left;
  width: 100%; }
  .header-wrapper a {
    float: left;
    margin: 13px 0 0 10px; }
  .header-wrapper h2 {
    float: left; }

#MLS_Integration {
  margin-left: 10px;
  color: #333333;
  background-color: #ffebe8;
  border-color: #cc0000 #cc0000 white; }

.prem_form {
  width: 320px;
  float: left;
  clear: both;
  margin-top: 5px; }
  .prem_form label {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px; }
  .prem_form input {
    width: 200px;
    float: right; }

/*ajax messages */
.ajax_message {
  font-size: 14px;
  margin: 15px 0 0 10px;
  color: green;
  font-weight: bold; }
  .ajax_message.red {
    color: red; }

.placester_icon {
  background: url("../images/logo_30.png") no-repeat; }

#placester-admin-menu {
  border-bottom: #cccccc 1px solid;
  padding-bottom: 0px;
  margin-bottom: 15px; }

h3.hndle {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-weight: normal;
  padding: 7px 10px; }

/* global modal styling */
/* Cleaning up jqueryUI's styles */
.ui-widget-header {
  border: none !important;
  background: none !important; }

.ui-dialog-content {
  padding-top: 0px !important; }

.ui-dialog-title h2 {
  margin: 5px 0 !important; }

.ui-widget-overlay {
  opacity: 0.1 !important;
  -moz-opacity: 0.1 !important;
  filter: alpha(opacity=0.1); }

/*    end */
/* Plugin specific styles */
.ui-dialog .ui-dialog-titlebar {
  font-size: 21px;
  padding: 12px; }
  .ui-dialog .ui-dialog-titlebar h1, .ui-dialog .ui-dialog-titlebar h2, .ui-dialog .ui-dialog-titlebar h3, .ui-dialog .ui-dialog-titlebar h4 {
    font-weight: bold;
    font-family: Helvetica, Arial;
    padding: 0px 0px;
    margin: 10px 0; }
  .ui-dialog .ui-dialog-titlebar h1 {
    font-size: 23px; }
  .ui-dialog .ui-dialog-titlebar h2 {
    font-size: 21px; }
  .ui-dialog .ui-dialog-titlebar h3 {
    font-size: 18px; }
  .ui-dialog .ui-dialog-titlebar h4 {
    font-size: 16px; }
.ui-dialog .ui-dialog-content p {
  line-height: 17px;
  font-size: 13px;
  margin: 15px 0px; }
  .ui-dialog .ui-dialog-content p.message {
    background-color: #fffbcc;
    border: 1px solid #e6db55;
    color: #555555;
    line-height: 19px;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    margin: 3px 0px; }
.ui-dialog .ui-dialog-content a {
  text-decoration: none;
  color: #21759b; }
  .ui-dialog .ui-dialog-content a:hover {
    color: #d54e21; }
.ui-dialog .ui-dialog-content p.large_green_button {
  text-align: center;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background: #86b229;
  background: -moz-linear-gradient(top, #a0cc42 0%, #86b229 50%, #6e9910);
  background: -webkit-gradient(linear, left top, left bottom, from(#a0cc42), color-stop(0.5, #86b229), to(#6e9910));
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #6f961c;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
  font-size: 17px !important; }
  .ui-dialog .ui-dialog-content p.large_green_button span {
    display: block;
    font-size: 11px;
    font-weight: normal; }
.ui-dialog .ui-dialog-content .red {
  color: red;
  font-weight: bold; }
.ui-dialog .ui-dialog-content .green {
  color: green;
  font-weight: bold; }
.ui-dialog .ui-dialog-buttonpane button {
  padding: 10px 15px;
  float: left;
  font-family: Helvetica, Arial;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  min-width: 80px;
  text-align: center;
  text-decoration: none; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  width: 100%; }

.settings_sub_nav {
  float: left; }
  .settings_sub_nav ul {
    float: left; }
    .settings_sub_nav ul li {
      float: left;
      padding: 5px 10px;
      border-right: 1px solid #cccccc; }
      .settings_sub_nav ul li.submenu-title {
        font-weight: bold;
        font-size: 12px;
        padding-left: 0px; }
      .settings_sub_nav ul li:last-child, .settings_sub_nav ul li:first-child {
        border-right: none !important; }
      .settings_sub_nav ul li a {
        float: left; }

.settings_option_wrapper {
  float: left;
  clear: both;
  width: 100%; }

.ui-dialog .ui-dialog-buttonpane button.green-btn {
  color: white;
  background: #86b229;
  background: -moz-linear-gradient(top, #a0cc42 0%, #86b229 50%, #6e9910);
  background: -webkit-gradient(linear, left top, left bottom, from(#a0cc42), color-stop(0.5, #86b229), to(#6e9910));
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #6f961c;
  /*  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3); */ }
.ui-dialog .ui-dialog-buttonpane button.gray-btn {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #909090;
  /*  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3); */ }
.ui-dialog .ui-dialog-buttonpane button.right-btn {
  float: right; }

.bar1 {
  -moz-transform: rotate(0deg) translate(0, -20px);
  -webkit-transform: rotate(0deg) translate(0, -20px);
  opacity: 0.12; }

.bar2 {
  -moz-transform: rotate(45deg) translate(0, -20px);
  -webkit-transform: rotate(45deg) translate(0, -20px);
  opacity: 0.25; }

.bar3 {
  -moz-transform: rotate(90deg) translate(0, -20px);
  -webkit-transform: rotate(90deg) translate(0, -20px);
  opacity: 0.37; }

.bar4 {
  -moz-transform: rotate(135deg) translate(0, -20px);
  -webkit-transform: rotate(135deg) translate(0, -20px);
  opacity: 0.5; }

.bar5 {
  -moz-transform: rotate(180deg) translate(0, -20px);
  -webkit-transform: rotate(180deg) translate(0, -20px);
  opacity: 0.62; }

.bar6 {
  -moz-transform: rotate(225deg) translate(0, -20px);
  -webkit-transform: rotate(225deg) translate(0, -20px);
  opacity: 0.75; }

.bar7 {
  -moz-transform: rotate(270deg) translate(0, -20px);
  -webkit-transform: rotate(270deg) translate(0, -20px);
  opacity: 0.87; }

.bar8 {
  -moz-transform: rotate(315deg) translate(0, -20px);
  -webkit-transform: rotate(315deg) translate(0, -20px);
  opacity: 1; }

#loading-spinner {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  -moz-border-radius: 100px;
  float: left;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  position: absolute;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }
  #loading-spinner div {
    width: 6px;
    height: 14px;
    background: black;
    position: absolute;
    top: 18px;
    left: 21px; }

@-webkit-keyframes rotateThis {
  from {
    -webkit-transform: scale(0.5) rotate(0deg); }

  to {
    -webkit-transform: scale(0.5) rotate(360deg); } }
