.idea/
.DS_Store
.sass-cache
.settings/org.eclipse.php.core.prefs

.buildpath

.project

.settings/.jsdtscope

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name
