ul.person-details {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}
.person-details li {
	float: left;
	margin-right: 15px;
	font-size: 16px;
	border-right: 1px solid black;
	padding: 10px;
}
.person-details li.last {
	border-right: none;
}


.both {
	float: left;
	clear: both;
	width: 100%;
}

/* Datatable Styling */


.paging_full_numbers { 
    margin-top: 12px; 
    text-align: right;
    float: right;
    padding-bottom: 10px;
}

.dataTables_info {
    padding-top: 12px;
    float: right;
    margin-right: 10px;
    font-size: 12px;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-style: italic;
}

.paging_full_numbers .first,
.paging_full_numbers .last {
    display: none;
}

.paging_full_numbers span a.paginate_button,
.paging_full_numbers span a.paginate_active {
    text-decoration: none;
    padding: 3px 6px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin-right: 3px;
    font-weight: bold;
    font-size: 11px;
}

.paging_full_numbers span a.paginate_button {
    border-color: #E3E3E3;
    background: #EEE;
    color: #21759B;
    cursor: pointer;
}

.paging_full_numbers span a.paginate_active { 
    color: #555;
    background: #DFDFDF;
    border-color: lightGrey;
    cursor: auto;
}

.widefat thead tr th span {
    padding-left: 15px; 
    background: url('../../images/datatable/sorting.png') no-repeat 0 0;
    float:left;
    height: 16px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.widefat thead tr th:hover {
    cursor: pointer;
}
.widefat thead tr th:hover span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=100);
    -moz-opacity:1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
}
.widefat thead tr th.sorting_asc span {
    background-position: 0 -16px;
}
.widefat thead tr th.sorting_desc span {
    background-position: 0 -32px;
}
.widefat thead tr th.sorting_asc_disabled span {
    background-position: 0 -48px;
}
.widefat thead tr th.sorting_desc_disabled span {
    background-position: 0 -64px;
}
.widefat .odd {
    background-color: #FCFCFC;
}