#container {
    float: left;
    clear: both;
}
#container {
    border-top: 1px #dfdfdf solid;
    margin-top: 20px;
    padding-top: 20px;
}
h2.person-name-contact {
    float: left;
    width: 100%;
}
h2.person-name-contact span {
    font-weight: bold;
}

.person-details {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.person-details span {
    font-size: 15px;
    color: grey;
    margin-left: 15px;
}
.person-details span.phone {
    margin-left: 0px;
}
.person-details span.created {
    font-size: 11px;
}
p.saved-searches-title {
    font-size: 16px;
    margin-bottom: 0px;
    float: left;
}
.both {
	float: left;
	clear: both;
	width: 100%;
}

.dataTables_length {
    display: none;
}

#edit-lead-box {
    float: left;
    width: 100%;
}

/*  */
/*  */
/* Datatable Styling */
/*  */
/*  */
.dataTables_wrapper {
  position: relative;
}
.dataTables_processing {
    /*float: left;*/
    text-indent: 20px;
    color: #444;
    visibility: visible;
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    padding: 50px 0 0 40%;
    z-index: 1000;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-weight: normal;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0
}
.form_group {
    /*display: none;*/
}
.row_actions {
  display: none;
}
.row_actions a, .row_actions span {
  padding-right: 10px;
  float: left;
}
.red {
    color: #BC0B0B;
}
tr.odd, tr.even {
  height: 48px;
}
.address {
  font-weight: bold;
}

.dataTables_info {
    margin-right: 10px !important;
    padding-right: 10px !important;
}
.paging_full_numbers span {
    margin: 0 10px 0 10px;
}

.paging_full_numbers { 
    margin-top: 12px; 
    text-align: right;
    float: right;
    padding-bottom: 10px;
}

.dataTables_info {
    padding-top: 12px;
    float: right;
    margin-right: 10px;
    font-size: 12px;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-style: italic;
}

.paging_full_numbers .first,
.paging_full_numbers .last {
    display: none;
}

.paging_full_numbers span a.paginate_button,
.paging_full_numbers span a.paginate_active {
    text-decoration: none;
    padding: 3px 6px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin-right: 3px;
    font-weight: bold;
    font-size: 11px;
}

.paging_full_numbers span a.paginate_button {
    border-color: #E3E3E3;
    background: #EEE;
    color: #21759B;
    cursor: pointer;
}

.paging_full_numbers span a.paginate_active { 
    color: #555;
    background: #DFDFDF;
    border-color: lightGrey;
    cursor: auto;
}

.widefat thead tr th span {
    padding-left: 15px; 
    background: url('../../images/datatable/sorting.png') no-repeat 0 0;
    float:left;
    height: 16px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.widefat thead tr th:hover {
    cursor: pointer;
}
.widefat thead tr th:hover span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=100);
    -moz-opacity:1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
}
.widefat thead tr th.sorting_asc span {
    background-position: 0 -16px;
}
.widefat thead tr th.sorting_desc span {
    background-position: 0 -32px;
}
.widefat thead tr th.sorting_asc_disabled span {
    background-position: 0 -48px;
}
.widefat thead tr th.sorting_desc_disabled span {
    background-position: 0 -64px;
}
.widefat .odd {
    background-color: #FCFCFC;
}