#preview-wrapper {
  position: fixed;
  right: 330px; }

#preview-meta-widget {
  width: 300px;
  height: 300px;
  border: 1px solid gray; }

#minor-publishing-actions,
#edit-slug-box,
div.wrap a.add-new-h2,
.misc-pub-section,
.misc-pub-section a.edit-timestamp {
  display: none; }

.misc-pub-section.curtime {
  display: block; }

#pl_static_listing_block {
  clear: both; }

#post_types_list {
  margin: 15px 3px; }
  #post_types_list a {
    margin: 0px 5px; }

.selected_type {
  font-weight: bold; }

#message a {
  display: none; }

@media screen and (max-width: 1500px) {
  #preview-wrapper {
    position: static;
    float: left; } }
