#preview-wrapper {
  position: fixed;
  right: 330px; }

#preview-meta-widget {
  width: 300px;
  height: 300px;
  border: 1px solid gray; }

.pl_template_block {
  width: 400px; }

#pl_location_tax {
  clear: both; }

#widget-meta-wrapper .shortcode_container input.save_snippet {
  font-weight: normal;
  color: #464646;
  background: #21759b url(../images/button-grad.png) repeat-x scroll left top;
  text-shadow: none; }

#widget-meta-wrapper section h3 {
  font-size: 14px;
  padding-left: 0; }

#minor-publishing-actions,
#edit-slug-box,
div.wrap a.add-new-h2,
.misc-pub-section,
.misc-pub-section a.edit-timestamp {
  display: none; }

.misc-pub-section.curtime {
  display: block; }

#pl_static_listing_block {
  clear: both; }

#post_types_list {
  margin: 15px 3px; }
  #post_types_list a {
    margin: 0px 5px; }
  #post_types_list .post_types_list_wrapper span {
    font-size: 1.5em;
    color: #464646; }

.selected_type {
  font-weight: bold; }

#message a {
  display: none; }

#pl-review-wrapper {
  text-align: center;
  padding-top: 10px; }

@media screen and (max-width: 1500px) {
  #preview-wrapper {
    position: static;
    float: left; } }
#general_widget_zoning_types {
  display: none; }

#general_widget_purchase_types {
  display: none; }
