.metabox-holder label {
	display: block;
	float: left;
	width: 10em;
}

.sc-meta-section {
	margin-top: 1em;
	border-top: 2px solid #afafaf;
	padding-top: 1em;
}

#poststuff .sc-meta-section h3 {
	margin-bottom: .4em;
	background: none;
	padding-left: 0;
}

.sc-meta-section .pl_widget_block {
	width: 100%;
}

.pl-sc-wrap section,
.sc-meta-section .pl_widget_block section,
.sc-meta-section #pl_static_listing_block section { /* required to override featured listings css */
	overflow: hidden;
	margin-bottom: 0;
}

.pl-sc-wrap .postbox label {
	width: 20em;
	height: 2em;
	line-height: 2em;
}

.inside section {
	line-height: 2em;
}

.sc-meta-section input,
.sc-meta-section select,
.sc-meta-section #pl_static_listing_block input, 	/* required to override featured listings css */
.sc-meta-section #pl_static_listing_block select {
    float: left;
	margin: 0 .5em .5em 0;
	height: 2em;
}

.pl-sc-wrap .inside textarea {
	height: 12em;
	line-height: 1em;
}

.span8,
.span6,
.span4 {
	float: left;
	overflow: hidden;
	margin-right: 2%;
}
.span8 {
	width: 78%;
}

.span6 {
	width: 58%;
}

.span4 {
	width: 38%;
}

/* preview pane */

#preview-wrapper {
	position: relative;
}

.preview_load_spinner {
	position: absolute;
	width: 100%;
	height: 250px;
	overflow: hidden;
	z-index: 50;
}

.preview_load_spinner img {
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	margin: -15px 0 0 -15px;
}

#preview_meta_widget {
	width: 100%;
	height: 250px;
}


/* Shortcode editor */


#pl_location_tax {
	float: left;
	width: 20em;
}

#pl_location_tax label {
	width: auto;
}

.pl_template_block, 
.edit-sc-template-edit {
	float: left;
	margin-right: 1em;
}


/* Template Editor */


#pl_sc_tpl_edit .edit-box {
	clear: both;
	display: block;
	width: 100%;
	overflow: hidden;
}

.sc-meta-section a {
	display: block;
}

#pl_sc_tpl_edit .pl_template_block,
#pl_sc_tpl_edit .pl_template_block label {
	float: none;
}

#pl_sc_tpl_edit .pl_template_block textarea {
	width: 100%;
}

#subshortcodes {
	float: left;
}

#subshortcodes div {
	clear: both;
}




/* Featured Listings */

#options-filters .button {
	height: auto;
}

