/*
 * IDX Page Generator
 */
 
.pl_repage_group {
}

.pl_repage_idx {
}

.pl_repage_listings {
}

.pl_tmplts {
	overflow: hidden;
}

.pl_tmplt {
	display: inline-block;
	margin-right: 10px;
	overflow: hidden;
	padding: 0 20px 20px 0;
	vertical-align: top;
	width: 300px;
}

.pl_tmplt_title {
	height: 3em;
}

.pl_tmplt_screenshot {
	display: block;
	margin-bottom: 10px;
	border: 1px #ddd solid;
	background: #f1f1f1 url(../../../images/re-creator-fullwidth-thumb.png);
	width: 300px;
	height: 237px;
	overflow: hidden;
}

.pl_custom .pl_tmplt_screenshot {
	background-image: url(../../../images/re-creator-custom-fullwidth-thumb.png);
}

.pl_tmplt_screenshot img {
	margin: 20% 0 0 2%;
	width: 96%;
	height: 70%;
}

.pl_tmplt_description {
	height: 3em;
}


/* Filter list for sc editor */
.pl_filters {
	float: left;
}
.pl_filters section {
	display: none;
}
#pl_filter_picker .pl_filters label {
	display: none;
}
#pl_filter_picker input {
	display: block;
	float: left;
	margin: 0 .5em .5em 0;
	height: auto;
}
#pl_filter_picker select {
	display: block;
	float: left;
	margin: 0 .5em .5em 0;
}
#pl_filter_picker select[multiple] {
	height: 8em;
	min-width: 15em;
}
#pl_filter_picker input[type="checkbox"] {
	clear: both;
	margin: .3em .5em 0 0;
}
#pl_filter_picker input.form_item_int {
	width: 5em;
}
#pl_filter_picker input.form_item_text {
	width: 20em;
}
.add_filter {
	display: block;
	float: left;
}
.active_filters {
	clear: both;
}
.active_filter {
	clear: both;
	margin-top: .3em;
	border-top: 1px solid #dfdfdf;
	padding-top: .3em;
	overflow: hidden;
}
.active_filter label,
.active_filter .filter_value {
	display: block;
	float: left;
	padding: 0 1em 0 0;
	width: 40%;
}
.active_filter .remove_filter {
	display: block;
	float: right;
}

